/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	width: 600px;
	font-size: 1.0em;
	color: #333;
    
}

form.cmxform legend {
	padding-left: 0;
}

form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	/* background: url(../images/cmxform-fieldset.gif) left bottom repeat-x; */
	background-color: white;

	border-radius: 20px 20px 20px 20px;
	border: 7px solid grey;
	position: relative;
	top: 50%;
	left: 45%;
	-ms-transform: translate(-0%, 10%);
	transform: translate(30%, 10%);
}

form.cmxform fieldset fieldset {
	background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
	/* background: url(../images/cmxform-divider.gif) left bottom repeat-x; */
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }