/**********************************

Use: Main Screen Import

***********************************/

@import "reset.css";
@import "core.css";

@import "cmxformTemplate.css";
@import "cmxform.css";



/* Navbar*/
.topnav {

	background-color: #ccc;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: small;
}
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

#logo{
	position: absolute; 
	left: 95%;
	height: 100%;
	
}

/*DIVS*/
/* #bodyPage{
	width: 100%;
	height: 100%;
	display: block;
} */

#WelcomePage {
	margin-left: 80px;
}

footer {
	text-align: center;
	padding: 3px;
	background-color: #ccccffd8;
	color: white;
	clear: both;
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
}

#footer_right p{
	/* display: none; */
	text-align: right;
	padding: 3px;
	margin-right: 30px;
	/* background-color: #ccccffd8; */
	color: white;
	clear: both;
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
	-ms-transform: translate(10%, -5%);
	transform: translate(-10%, 30%);
}



#LOGIN {
	display: none;
}
#SIGNUP {
	display: none;
}
#configuration {
	display: none;
	/* position: absolute; */
	/* top: 30px; */
	/* height: 400px; */
}
#game {
	display: none;
	margin-top: 50px;
	padding-top: 0px;
	height: 680px;
	width: 750px;
	background: #888;
	border: 3px solid white;
	border: 5px solid white;
	-ms-transform: translate(-50%, -50%);
	transform: translate(10%, -8%);
	z-index: 1; /* Sit on top */
	position: absolute;

	/* text-align: center; */
}
#about {
	display: none;
	margin-top: 400px;
	padding-top: 100px;
	height: 400px;
}

#canvas {
	/* text-align: center; */
	border: 3px solid white;
	background: #E7E7E7;
	border: 5px solid white;
	transform: translate(20%, -4%);
	position: absolute;
}

#config {
	display: none;
	margin-top: 50px;
	padding-top: 0px;
	height: 400px;
	width: 400px;
	text-align:	center;
	background: #888;
	border-radius: 20px 20px 20px 20px;
	border: 2px solid white;
	margin: 0;
	position: absolute;
	top: 80%;
	left: 80%;
	-ms-transform: translate(-100%, -50%);
	transform: translate(-50%, -100%);
} 

#centerSignUp {
	background-color: transparent;
	border-radius: 20px 20px 20px 20px;
	border: 2px solid white;
	margin: 0;
	position: absolute;
	/* top: 90%; */
	left: 60%;
	bottom: 80px;
	/* -ms-transform: translate(-80%, -50%);
	transform: translate(-20%, -50%); */
}
#centerLogIn {
	background-color: transparent;
	border-radius: 20px 20px 20px 20px;
	border: 2px solid white;
	margin: 0;
	position: absolute;
	/* top: 90%; */
	bottom: 80px;
	left: 20%;
	/* -ms-transform: translate(20%, -50%);
	transform: translate(20%, -50%);*/
} 

html ,body {
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
	background-image: url(welcomeImg.png);
	/* overflow: auto; */
}

/* Set a style for all buttons */
input[type=submit] {
	background-color: #2b179b;
	color: white;
	padding: 14px 5px;
	margin: 4px 5px;
	border: none;
	cursor: pointer;
	width: 80%;
	}

input:hover {
opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#game button{
	size: 50px;
	position: absolute;
	top: 0%;
	left: 70%;
	background-color: grass;
	border-radius: 20px 20px 20px 20px;
	border: 2px solid white;
}


#lblScore_text {
	position: absolute;
	top: 20%;
	left: 3%;
	font-weight:bold;
}
#lblScore {
	position: absolute;
	top: 22%;
	left: 3%;
}
#lblTime_text {
	position: absolute;
	top: 30%;
	left: 3%;
	font-weight:bold;
}
#lblTime {
	position: absolute;
	top: 32%;
	left: 3%;
}

#lblLIVES_text {
	position: absolute;
	top: 40%;
	left: 3%;
	font-weight:bold;
}
#lblLIVES {
	position: absolute;
	top: 42%;
	left: 3%;
}

#config b{
	font-size: 20px;
	color:#2b179b;
}

#config input{
	height: 4%; border: 3px solid #000;
}

/* Set a style for all buttons */
button {
background-color: #2b179b;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
}

button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: relative; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto; Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	overflow: auto; /*Enable scroll if needed */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 20px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
	display: block;
	float: none;
}
.cancelbtn {
	width: 100%;
}
}